@font-face {
  font-family: "Greatest Richmond";
  src: url("/fonts/GreatestRichmond.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mazzard Soft H";
  src: url("/fonts/MazzardSoftH-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mazzard Soft H";
  src: url("/fonts/MazzardSoftH-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "freshio-icon";
  src: url("/fonts/freshio-icon.woff2") format("woff2");
  font-display: swap;
}

[class*="freshio-icon-"] {
  font-family: "freshio-icon";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  vertical-align: middle;
}
.freshio-icon-adobe:before {
  content: "";
}
.freshio-icon-amazon:before {
  content: "";
}
.freshio-icon-android:before {
  content: "";
}
.freshio-icon-angular:before {
  content: "";
}
.freshio-icon-apper:before {
  content: "";
}
.freshio-icon-apple:before {
  content: "";
}
.freshio-icon-atlassian:before {
  content: "";
}
.freshio-icon-behance:before {
  content: "";
}
.freshio-icon-bitbucket:before {
  content: "";
}
.freshio-icon-bitcoin:before {
  content: "";
}
.freshio-icon-bity:before {
  content: "";
}
.freshio-icon-bluetooth:before {
  content: "";
}
.freshio-icon-btc:before {
  content: "";
}
.freshio-icon-centos:before {
  content: "";
}
.freshio-icon-chrome:before {
  content: "";
}
.freshio-icon-codepen:before {
  content: "";
}
.freshio-icon-cpanel:before {
  content: "";
}
.freshio-icon-discord:before {
  content: "";
}
.freshio-icon-dochub:before {
  content: "";
}
.freshio-icon-docker:before {
  content: "";
}
.freshio-icon-dribbble:before {
  content: "";
}
.freshio-icon-dropbox:before {
  content: "";
}
.freshio-icon-drupal:before {
  content: "";
}
.freshio-icon-ebay:before {
  content: "";
}
.freshio-icon-facebook:before {
  content: "";
}
.freshio-icon-figma:before {
  content: "";
}
.freshio-icon-firefox:before {
  content: "";
}
.freshio-icon-google-plus:before {
  content: "";
}
.freshio-icon-google:before {
  content: "";
}
.freshio-icon-grunt:before {
  content: "";
}
.freshio-icon-gulp:before {
  content: "";
}
.freshio-icon-html5:before {
  content: "";
}
.freshio-icon-jenkins:before {
  content: "";
}
.freshio-icon-joomla:before {
  content: "";
}
.freshio-icon-link-brand:before {
  content: "";
}
.freshio-icon-linkedin:before {
  content: "";
}
.freshio-icon-mailchimp:before {
  content: "";
}
.freshio-icon-opencart:before {
  content: "";
}
.freshio-icon-paypal:before {
  content: "";
}
.freshio-icon-pinterest-p:before {
  content: "";
}
.freshio-icon-reddit:before {
  content: "";
}
.freshio-icon-skype:before {
  content: "";
}
.freshio-icon-slack:before {
  content: "";
}
.freshio-icon-snapchat:before {
  content: "";
}
.freshio-icon-spotify:before {
  content: "";
}
.freshio-icon-trello:before {
  content: "";
}
.freshio-icon-twitter:before {
  content: "";
}
.freshio-icon-vimeo:before {
  content: "";
}
.freshio-icon-whatsapp:before {
  content: "";
}
.freshio-icon-wordpress:before {
  content: "";
}
.freshio-icon-yoast:before {
  content: "";
}
.freshio-icon-youtube:before {
  content: "";
}
.freshio-icon-acorn:before {
  content: "";
}
.freshio-icon-angle-double-down:before {
  content: "";
}
.freshio-icon-angle-double-left:before {
  content: "";
}
.freshio-icon-angle-double-right:before {
  content: "";
}
.freshio-icon-angle-double-up:before {
  content: "";
}
.freshio-icon-apple-alt:before {
  content: "";
}
.freshio-icon-argan-oil:before {
  content: "";
}
.freshio-icon-badge-percent:before {
  content: "";
}
.freshio-icon-calendar:before {
  content: "";
}
.freshio-icon-cherry:before {
  content: "";
}
.freshio-icon-comments-alt:before {
  content: "";
}
.freshio-icon-consultant:before {
  content: "";
}
.freshio-icon-creation:before {
  content: "";
}
.freshio-icon-curated:before {
  content: "";
}
.freshio-icon-curated_2:before {
  content: "";
}
.freshio-icon-delivery1:before {
  content: "";
}
.freshio-icon-design:before {
  content: "";
}
.freshio-icon-drag:before {
  content: "";
}
.freshio-icon-dragon-fruit:before {
  content: "";
}
.freshio-icon-dragon-fruit2:before {
  content: "";
}
.freshio-icon-egg-fried:before {
  content: "";
}
.freshio-icon-envelope-open-text:before {
  content: "";
}
.freshio-icon-experiences:before {
  content: "";
}
.freshio-icon-farm:before {
  content: "";
}
.freshio-icon-farmer:before {
  content: "";
}
.freshio-icon-free-shipping1:before {
  content: "";
}
.freshio-icon-fresh:before {
  content: "";
}
.freshio-icon-fruit:before {
  content: "";
}
.freshio-icon-fruit2:before {
  content: "";
}
.freshio-icon-fruits-pakage:before {
  content: "";
}
.freshio-icon-gift1:before {
  content: "";
}
.freshio-icon-groceries:before {
  content: "";
}
.freshio-icon-handmade:before {
  content: "";
}
.freshio-icon-handmade_2:before {
  content: "";
}
.freshio-icon-hapiness:before {
  content: "";
}
.freshio-icon-headphones-alt:before {
  content: "";
}
.freshio-icon-healthy-stomach:before {
  content: "";
}
.freshio-icon-healthy:before {
  content: "";
}
.freshio-icon-heat1:before {
  content: "";
}
.freshio-icon-ice-cream:before {
  content: "";
}
.freshio-icon-language:before {
  content: "";
}
.freshio-icon-leaf:before {
  content: "";
}
.freshio-icon-leaf2:before {
  content: "";
}
.freshio-icon-long-arrow-down:before {
  content: "";
}
.freshio-icon-long-arrow-left:before {
  content: "";
}
.freshio-icon-long-arrow-right:before {
  content: "";
}
.freshio-icon-long-arrow-up:before {
  content: "";
}
.freshio-icon-meat:before {
  content: "";
}
.freshio-icon-money-fruit:before {
  content: "";
}
.freshio-icon-natural:before {
  content: "";
}
.freshio-icon-note1:before {
  content: "";
}
.freshio-icon-olive-oil:before {
  content: "";
}
.freshio-icon-oneclick:before {
  content: "";
}
.freshio-icon-onion:before {
  content: "";
}
.freshio-icon-onion2:before {
  content: "";
}
.freshio-icon-orange:before {
  content: "";
}
.freshio-icon-performance:before {
  content: "";
}
.freshio-icon-phone1:before {
  content: "";
}
.freshio-icon-pineapple:before {
  content: "";
}
.freshio-icon-pizza-slice:before {
  content: "";
}
.freshio-icon-play:before {
  content: "";
}
.freshio-icon-product:before {
  content: "";
}
.freshio-icon-protein:before {
  content: "";
}
.freshio-icon-quality:before {
  content: "";
}
.freshio-icon-return:before {
  content: "";
}
.freshio-icon-salad:before {
  content: "";
}
.freshio-icon-savemoney:before {
  content: "";
}
.freshio-icon-seo:before {
  content: "";
}
.freshio-icon-shipping:before {
  content: "";
}
.freshio-icon-sizing:before {
  content: "";
}
.freshio-icon-soup:before {
  content: "";
}
.freshio-icon-star-fruit:before {
  content: "";
}
.freshio-icon-strawberry:before {
  content: "";
}
.freshio-icon-strawberrys:before {
  content: "";
}
.freshio-icon-sustainable:before {
  content: "";
}
.freshio-icon-theme-contact:before {
  content: "";
}
.freshio-icon-theme-drag:before {
  content: "";
}
.freshio-icon-theme-heart:before {
  content: "";
}
.freshio-icon-theme-language:before {
  content: "";
}
.freshio-icon-theme-oneclick:before {
  content: "";
}
.freshio-icon-theme-performance:before {
  content: "";
}
.freshio-icon-theme-quality:before {
  content: "";
}
.freshio-icon-theme-quote:before {
  content: "";
}
.freshio-icon-theme-seo:before {
  content: "";
}
.freshio-icon-theme-shipping:before {
  content: "";
}
.freshio-icon-tomato:before {
  content: "";
}
.freshio-icon-vegetables:before {
  content: "";
}
.freshio-icon-volleyball-ball:before {
  content: "";
}
.freshio-icon-angle-down:before {
  content: "";
}
.freshio-icon-angle-left:before {
  content: "";
}
.freshio-icon-angle-right:before {
  content: "";
}
.freshio-icon-angle-up:before {
  content: "";
}
.freshio-icon-arrow-circle-down:before {
  content: "";
}
.freshio-icon-arrow-circle-left:before {
  content: "";
}
.freshio-icon-arrow-circle-right:before {
  content: "";
}
.freshio-icon-arrow-circle-up:before {
  content: "";
}
.freshio-icon-bars:before {
  content: "";
}
.freshio-icon-caret-down:before {
  content: "";
}
.freshio-icon-caret-left:before {
  content: "";
}
.freshio-icon-caret-right:before {
  content: "";
}
.freshio-icon-caret-up:before {
  content: "";
}
.freshio-icon-cart-empty:before {
  content: "";
}
.freshio-icon-check-square:before {
  content: "";
}
.freshio-icon-chevron-circle-left:before {
  content: "";
}
.freshio-icon-chevron-circle-right:before {
  content: "";
}
.freshio-icon-chevron-down:before {
  content: "";
}
.freshio-icon-chevron-left:before {
  content: "";
}
.freshio-icon-chevron-right:before {
  content: "";
}
.freshio-icon-chevron-up:before {
  content: "";
}
.freshio-icon-circle:before {
  content: "";
}
.freshio-icon-cloud-download-alt:before {
  content: "";
}
.freshio-icon-comment:before {
  content: "";
}
.freshio-icon-comments:before {
  content: "";
}
.freshio-icon-contact:before {
  content: "";
}
.freshio-icon-credit-card:before {
  content: "";
}
.freshio-icon-dot-circle:before {
  content: "";
}
.freshio-icon-edit:before {
  content: "";
}
.freshio-icon-envelope:before {
  content: "";
}
.freshio-icon-expand-alt:before {
  content: "";
}
.freshio-icon-external-link-alt:before {
  content: "";
}
.freshio-icon-eye:before {
  content: "";
}
.freshio-icon-file-alt:before {
  content: "";
}
.freshio-icon-file-archive:before {
  content: "";
}
.freshio-icon-filter:before {
  content: "";
}
.freshio-icon-folder-open:before {
  content: "";
}
.freshio-icon-folder:before {
  content: "";
}
.freshio-icon-free_ship:before {
  content: "";
}
.freshio-icon-frown:before {
  content: "";
}
.freshio-icon-gift:before {
  content: "";
}
.freshio-icon-grip-horizontal:before {
  content: "";
}
.freshio-icon-heart-fill:before {
  content: "";
}
.freshio-icon-heart:before {
  content: "";
}
.freshio-icon-history:before {
  content: "";
}
.freshio-icon-home:before {
  content: "";
}
.freshio-icon-info-circle:before {
  content: "";
}
.freshio-icon-instagram:before {
  content: "";
}
.freshio-icon-level-up-alt:before {
  content: "";
}
.freshio-icon-long-arrow-alt-down:before {
  content: "";
}
.freshio-icon-long-arrow-alt-left:before {
  content: "";
}
.freshio-icon-long-arrow-alt-right:before {
  content: "";
}
.freshio-icon-long-arrow-alt-up:before {
  content: "";
}
.freshio-icon-map-marker-check:before {
  content: "";
}
.freshio-icon-meh:before {
  content: "";
}
.freshio-icon-minus-circle:before {
  content: "";
}
.freshio-icon-mobile-android-alt:before {
  content: "";
}
.freshio-icon-money-bill:before {
  content: "";
}
.freshio-icon-pencil-alt:before {
  content: "";
}
.freshio-icon-plus-circle:before {
  content: "";
}
.freshio-icon-plus:before {
  content: "";
}
.freshio-icon-quote:before {
  content: "";
}
.freshio-icon-random:before {
  content: "";
}
.freshio-icon-reply-all:before {
  content: "";
}
.freshio-icon-reply:before {
  content: "";
}
.freshio-icon-search-plus:before {
  content: "";
}
.freshio-icon-search:before {
  content: "";
}
.freshio-icon-shield-check:before {
  content: "";
}
.freshio-icon-shopping-basket:before {
  content: "";
}
.freshio-icon-shopping-cart:before {
  content: "";
}
.freshio-icon-sign-out-alt:before {
  content: "";
}
.freshio-icon-smile:before {
  content: "";
}
.freshio-icon-spinner:before {
  content: "";
}
.freshio-icon-square:before {
  content: "";
}
.freshio-icon-star:before {
  content: "";
}
.freshio-icon-store:before {
  content: "";
}
.freshio-icon-sync:before {
  content: "";
}
.freshio-icon-tachometer-alt:before {
  content: "";
}
.freshio-icon-th-large:before {
  content: "";
}
.freshio-icon-th-list:before {
  content: "";
}
.freshio-icon-thumbtack:before {
  content: "";
}
.freshio-icon-times-circle:before {
  content: "";
}
.freshio-icon-times:before {
  content: "";
}
.freshio-icon-trophy-alt:before {
  content: "";
}
.freshio-icon-truck:before {
  content: "";
}
.freshio-icon-user-headset:before {
  content: "";
}
.freshio-icon-user-shield:before {
  content: "";
}
.freshio-icon-user:before {
  content: "";
}
